<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Cuky's - Katalogoa</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Site Icons -->
    <link rel="shortcut icon" href="../../../../static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../../../../static/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../../../../static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../../../static/css/custom.css">

    <script src="jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="jquery.datetimepicker.css"/>
    <script src="jquery.datetimepicker.full.js"></script>

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="index.html">
					<img src="../../../../static/images/logo.png" alt="" style="width: 120px;"/>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto align-items-center">
						<li class="nav-item"><a class="nav-link" href="{% url 'Index' %}">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="/menu/">Katalogoa</a></li>
						<li class="nav-item"><a class="nav-link" href="/about/">About Gu</a></li>
						<li class="nav-item"><a class="nav-link" href="/contact/">Kontaktua</a></li>
						<li class="nav-item"{% if user is not None %} style="display:none;"{% endif %} id="loginVisible"><a class="nav-link" href="/login/">Hasi Saioa</a></li>
						<!--<li class="nav-item" id="karritoa"><a class="nav-link" href="login.html">Karritoa</a></li>
						-->
						<li class="nav-item"{% if user is None %} style="display:none;"{% endif %} id="logoff"><a class="nav-link" href="/logout/">Log Off</a></li>
                        <li class="nav-item" id="karritoa" onclick="erosi(Saskia.retrieve(), true)">
                                <img src="../../../../static/images/cart-icon-cookie-hover.png"  class="nav-link cookie-image-hover" height="80" width="100" alt="Card Back">
                                <img src="../../../../static/images/cart-icon-cookie.png"  class="nav-link cookie-image" height="80" width="100" alt="Card Front">
                        </li>
					</ul>
				</div>
			</div>

		</nav>
	</header>
	<!-- End header -->

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Gaileta Katalogoa</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Gaileta Katalogoa</h2>
                    <p>Munduko gailetarik onenak eta merkeenak.</p>
                </div>
            </div>
        </div>

        <div class="row inner-menu-box">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="menu" href="/menu/"
                       aria-controls="v-pills-home" aria-selected="true">Guztiak</a>
                    <a class="nav-link" id="v-pills-profile-tab" href="/menu/3"
                       aria-controls="v-pills-profile">Txokolate</a>
                    <a class="nav-link" id="v-pills-messages-tab" href="/menu/2"
                       aria-controls="v-pills-messages">Sinple</a>
                    <a class="nav-link" id="v-pills-settings-tab" href="/menu/1"
                       aria-controls="v-pills-settings">Fruta</a>
                </div>
            </div>

            <div class="col-9" id="datuak"/>
            {% for product in products %}
                <p>{{ product.izena }}</p>
                <img src="{{ product.irudia}}">
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Menu -->

<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="lead ">
                    " Sukaldaria ez bazara, urrun mantendu eta zoriondu sukaldariari. "
                </p>
                <span class="lead">Benito Lertxundi</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->

<!-- Start Customer Reviews -->
<div class="customer-reviews-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Bezeroen eranskina</h2>
                    <p>Mundu osoko bezeroen eranskinak.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <div id="reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner mt-4">
                        <div class="carousel-item text-center active">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="../../../../static/images/goros.png"
                                     alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Jose Antonio
                                Gorostiza</strong></h5>
                            <h6 class="text-dark m-0">Fisiko teorikoa</h6>
                            <p class="m-0 pt-3">Una oportunidad increible de comprar galletas, todo el mundo deberia
                                probarlas porque en esta epoca de pandemia, se acercan las oscuras golondrinas. </p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="../../../../static/images/sinosuke.png"
                                     alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Shinnosuke Nohara</strong>
                            </h5>
                            <h6 class="text-dark m-0">Cartoon</h6>
                            <p class="m-0 pt-3">
                                クレヨンしんちゃんのキャラクターに愛されている、トハトの星型ふくらんでいるとうもろこしスナック！北海道産のミルク風味で、歯ごたえがあります。</p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="../../../../static/images/monster.png"
                                     alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Cookie Monster</strong>
                            </h5>
                            <h6 class="text-dark m-0">Actor</h6>
                            <p class="m-0 pt-3">Sometimes me think, what is friend? And then me say: a friend is someone
                                to share last cookie with. <br> Home is where heart is. Heart where cookie is. Math
                                clear: home is cookie.</p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Customer Reviews -->

<!-- Start Contact info -->
<div class="contact-imfo-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4 arrow-right">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>Telefonoa</h4>
                    <p class="lead">
                        +34 943 89 92 11
                    </p>
                </div>
            </div>
            <div class="col-md-4 arrow-right">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Emaila</h4>
                    <p class="lead">
                        idazkaritza@uni.eus
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>Kokapena</h4>
                    <p class="lead">
                        Otaola Hiribidea, 29, 20600 Eibar
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contact info -->

    <!-- Karritoa -->

    <div id="cartContainer" class="karritoa-container">
        <h1 style="float: left;">Karritoa</h1>
        <img id="btnCloseCart" style="float:right; width: 24px; height: 24px;" src="../../../../static/images/x.png">
        <br>
        <br>
        <div id="style-10" class="produktuak-container">
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div><div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div><div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
            <div id="produktuaContainer" class="produktua-container d-flex flex-row align-items-center">
                <div class="crop p-2 ">
                        <img src="../../../../static/images/Cookie/cashewCookie.png" alt="Cookie">
                    </div>
                <div class="p-2">
                    <p class="produktua-title"><spam id="unitateak" class="unitateak">x2</spam> Banana</p>
                    <p class="produktu-prezioa">9,99€</p>
                </div>
                <div class="ml-auto p-2">
                    <img class="x-icon" src="../../../../static/images/x.png">
                </div>
            </div>
        </div>
        <br>
        <div id="cartTotal" class="cartTotal">
            <h2 style="float:left;">Total</h2>
            <p style="float:right; font-size: 16px;" class="produktu-prezioa">19,98€</p>
        </div>
        <br>
        <br>
         <form>
            <label for="party">Zehaztu ezazu entregatze data:</label>
            <input id="datefield" type="datetime-local" name="datefield" min="2017-06-01T08:30" class="datetimepicker">
          </form>
        <br>
        <button type="submit" name="btnSendCart" class="btnSendCart">EROSI</button>
    </div>

    <!-- End Karritoa -->

	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>Guri buruz</h3>
					<p>DAW2-ko 4 taldea gara. Erronka moduan sortu dugu web orrialde hau. Erronkaren helburua janari denda online bat prestatzea da.</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Sare Sozialak</h3>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://www.google.es/"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Kontaktu informazioa</h3>
					<p class="lead">Otaola Hiribidea, 29, 20600 Eibar, Gipuzkoa</p>
					<p class="lead"><a href="tel:+34 943 89 92 11">+34 943 89 92 11</a></p>
					<p><a href="#"> idazkaritza@uni.eus</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Ordutegia</h3>
					<p><span class="text-color">Astelehenetik-Ostiralera: </span>9:00 - 22:00	</p>
					<p><span class="text-color">Larunbata:</span> 9:00 - 00:00</p>
					<p><span class="text-color">Igandea:</span> Itxita</p>
				</div>
			</div>
		</div>


    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="company-name">All Rights Reserved. &copy; 2021 <a href="#">Cuky's</a>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o"
                                                                           aria-hidden="true"></i></a>

<!-- ALL JS FILES -->
<script src="../../../../static/Funtzioak/Funtzioak.js"></script>
<script src="main.js"></script>
<script> sartuTaula("datuak") </script>
<script src="../../../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../../../static/js/popper.min.js"></script>
<script src="../../../../static/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="../../../../static/js/jquery.superslides.min.js"></script>
<script src="../../../../static/js/images-loded.min.js"></script>
<script src="../../../../static/js/isotope.min.js"></script>
<script src="../../../../static/js/baguetteBox.min.js"></script>
<script src="../../../../static/js/form-validator.min.js"></script>
<script src="../../../../static/js/contact-form-script.js"></script>
<script src="../../../../static/js/custom.js"></script>
</body>
</html>
